{% extends 'base.html' %}
{% block content %}

<h3 class="text-center mb-4">🛍️ Our Products</h3>

<div class="row">
{% for p in products %}

<div class="col-md-3 mb-4">
    <div class="card p-2 h-100">

        <img src="{{ p.image }}" style="height:200px; object-fit:cover;">

        <div class="text-center mt-2">
            <h5>{{ p.name }}</h5>
            <p class="text-warning fw-bold">₹{{ p.price }}</p>

            <a href="/add/{{ p.id }}" class="btn btn-success w-100">
                Add to Cart
            </a>
        </div>

    </div>
</div>

{% endfor %}
</div>

{% endblock %}